* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
    font-size: 2vh;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#scores {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    padding-top: 1vh;
    padding-right: 1vw;
    font-size: 300%;
}

#lives {
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    padding-top: 1vh;
    padding-left: 1vw;
    font-size: 300%;
}

div.item {
    box-sizing: border-box;
    border-radius: 4vh;
    line-height: 7vh;
    height: 7vh;
    width: 18vw;
    text-align: center;
    background-color: gray;
    border: #333333 2px solid;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    

    margin-top: .5vh;
    margin-bottom: .5vh;
}

#sellers, #buyers {
    display: flex;
    width: 40vw;    
    height: 40vh;
    margin-left: 30vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    flex-direction: row;    
    background-color: gray;
}

#sellers {
    flex-wrap: wrap-reverse;
}

#buyers {
    flex-wrap: wrap;
}

#sellers>div.item, #buyers>div.item {
    margin-left: 11vw;
    margin-right: 11vw;
}

#sellers>div.item:first-child, #sellers>div.item:nth-child(2), #buyers>div.item:first-child, #buyers>div.item:nth-child(2) {
    margin-left: 1vw;
    margin-right: 1vw;
}

#store {
    width: 96vw;
    height: 16vh;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: green;
}

#store>div.item {
    margin-left: .3vw;
    margin-right: .3vw;
}

#items{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#items>div.item{
    position: absolute;
    margin: 0;    
    transition: top 250ms, left 250ms;
    background-color: lightgray;
}

#items>div.item.clickable{
    background-color: white;
    cursor: pointer;
}

#items>div.item.clickable:hover{
    background-color: lightblue;
}